img{
    height: 2.5em;
}
.header{
    justify-content: center;
    height: 10%;
    background-color: #1985FF;
}

span{
    display: flex;
    align-items: center;

}

h1{
    padding-left: 1.2rem;
    font-size: 1.5rem;
}