form{
    text-align: center;
    width: 70%;
    margin: 2rem auto 0 auto;
}
h1{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 3rem;
}
.form{
    width: 100%;
}
.buttons{
    text-align: start;
}
button{
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
.btnCriar{
    color:black;
    background-color: #449bff;
    border: 1px solid black;
}
.btnCancelar{
    color:black;
    background-color: rgb(255, 79, 109);
    border: 1px solid black;
}